.navbar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 10px;
  height: 60px;
  text-align: center;
  color: #228be6;
  background-color: #474747;
  gap: 20px;
}

#no {
  height: 36px;
  width: 80px;
  font-size: 16px;
  color: rgb(185, 185, 185);
  border: 1px solid #228be6;
  border-radius: 4px;
  background-color: #474747;
}

#no:focus {
  outline: none;
}

.css-2b097c-container {
  width: 120px;
  color: black;
  background-color: #474747;
}

.css-yk16xz-control {
  background-color: #474747 !important;
  border-color: #228be6 !important;
}

a {
  font-weight: bold;
  text-decoration: none; /* Removes underline by default */
  color: #333; /* Default color */
  background-color: #ffc107; /* Highlight color */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
}

a:hover {
  background-color: #ff9800; /* Highlight color on hover */
  color: #fff; /* Text color on hover */
}
